<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
 

 <listeners>
<listener class-name="E2EProject.E2EFramework.Listener"/>
</listeners>

 <test  name="Web Elements">
    <classes>
      <class name="E2EProject.E2EFramework.MainTest"/>
    </classes>
  </test>


<test  name="Validate Text">
    <classes>
      <class name="E2EProject.E2EFramework.ValidationTest"/>
    </classes>
  </test>

 


</suite> <!-- Suite -->
